<!doctype html>
<html>
    {% extends "stories/base.html" %}
    {% block content %}

    <body>
    <div class="bg-img"></div>

    <script>
        stageid = 0;
        $(function() {
            update();
            
        
            $("#next").click(function() {
                stageid ++;
                update();
            });

            $("#back").click(function() {
                stageid --;
                update();
            });

        });

        
        
        function update() {
            $.ajax({
                url: '/ajax/story/' + {{story.pk}} + '/' + stageid,
                dataType: 'json',
                success: function (data) {
                    document.getElementById("header").innerHTML = data.stage;
                    document.getElementById("story").innerHTML = data.story;
                }
            });
        }



            
    </script>

    <div id="main_text">
    <span>
    {% comment %} doing stages like this until I understand cookies. {% endcomment %}
        <button id='back' class="grid-elem" type="button"> &lt; </button>
        <div class='grid-elem' id='middle'>
            <h1 id='header'> </h1>
            <h2 id= 'story'></h2>
        </div>
        <button id="next" class="grid-elem" type="button"> &gt; </button>
    </span>
    </div>

    {% endblock content %}
